<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_save_after">
        <observer name="maatoo_customer_save_after" instance="Maatoo\Maatoo\Observer\CustomerSaveObserver" />
    </event>
    <!--    <event name="sales_order_save_after">-->
    <!--        <observer name="maatoo_order_save_after" instance="Maatoo\Maatoo\Observer\OrderSaveObserver" />-->
    <!--    </event>-->
    <!--    <event name="sales_quote_save_after">-->
    <!--        <observer name="maatoo_quote_save_after" instance="Maatoo\Maatoo\Observer\QuoteSaveObserver" />-->
    <!--    </event>-->
    <event name="catalog_category_save_after">
        <observer name="maatoo_category_save_after" instance="Maatoo\Maatoo\Observer\CategorySaveObserver" />
    </event>
    <event name="catalog_product_save_after">
        <observer name="maatoo_product_save_after" instance="Maatoo\Maatoo\Observer\ProductSaveObserver" />
    </event>

    <event name="customer_delete_after">
        <observer name="maatoo_customer_delete_after" instance="Maatoo\Maatoo\Observer\CustomerDeleteObserver" />
    </event>
    <event name="sales_order_delete_after">
        <observer name="maatoo_order_delete_after" instance="Maatoo\Maatoo\Observer\OrderDeleteObserver" />
    </event>
    <event name="catalog_category_delete_after">
        <observer name="maatoo_category_delete_after" instance="Maatoo\Maatoo\Observer\CategoryDeleteObserver" />
    </event>
    <event name="catalog_product_delete_after">
        <observer name="maatoo_product_delete_after" instance="Maatoo\Maatoo\Observer\ProductDeleteObserver" />
    </event>

    <event name="controller_action_predispatch">
        <observer name="maatoo_controller_action_postdispatch" instance="Maatoo\Maatoo\Observer\ActionDispatchObserver" />
    </event>

    <event name="sales_order_save_after">
        <observer name="maatoo_sales_order_save_after_customer" instance="Maatoo\Maatoo\Observer\OrderSaveByCustomerObserver" />
        <observer name="maatoo_order_save_after" instance="Maatoo\Maatoo\Observer\OrderSaveObserver" />
    </event>

    <event name="sales_quote_save_after">
        <observer name="maatoo_sales_quote_save_after_customer" instance="Maatoo\Maatoo\Observer\QuoteSaveByCustomerObserver" />
    </event>
    <!--    <event name="checkout_submit_all_after">-->
    <!--        <observer name="maatoo_checkout_submit_all_after" instance="Maatoo\Maatoo\Observer\CheckoutSubmitAllObserver" />-->
    <!--    </event>-->
</config>
